### DataFrame 进行列的字符串相加

In [1]:
import pandas as pd
import numpy as np

In [4]:
a = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))

In [5]:
a

          A         B         C         D
0  0.758323 -0.714536 -1.338301 -0.952390
1  0.146400  0.398248 -1.856540  0.270979
2  0.153345  0.132260  0.454609 -0.939613
3 -0.472570  0.934821 -1.086913  1.333306
4 -0.429866 -0.550438 -0.524455  1.374706
5  0.707381  1.410684  1.243283  1.916733

In [6]:
a['E'] = a['A'].map(str) + '#' + a['B'].map(str) + '#' + a['C'].map(str) + '#' + a['D'].map(str)

In [7]:
a

,A,B,C,D,E
0,0.758323,-0.714536,-1.338301,-0.952390,0.7583225606470514#-0.7145361818276589#-1.3383...
1,0.146400,0.398248,-1.856540,0.270979,0.14639990780919662#0.3982480673001641#-1.8565...
2,0.153345,0.132260,0.454609,-0.939613,0.15334476442124273#0.13225969376448551#0.4546...
3,-0.472570,0.934821,-1.086913,1.333306,-0.47257039280375446#0.9348205306524989#-1.086...
4,-0.429866,-0.550438,-0.524455,1.374706,-0.4298661106979717#-0.5504377949368924#-0.524...
5,0.707381,1.410684,1.243283,1.916733,0.7073805383633867#1.4106843912477696#1.243283...