DataFrame数据框允许我们使用iloc方法来像操作array（数组）一样对DataFrame进行切片操作，其形式上，跟对数组进行切片是一样的

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'))

In [4]:
df

          A         B         C         D
0 -0.722356 -0.457930 -0.842652 -1.111292
1  0.361975 -0.519359  0.296936  1.379625
2 -0.210160 -0.527685  0.054827 -0.203484
3  0.147903  0.137416  0.182186  0.348132
4 -0.430687  0.094771  0.704016 -0.250703
5 -0.837377 -0.591414  1.896440 -0.164425

In [7]:
df.loc[0]

A   -0.722356
B   -0.457930
C   -0.842652
D   -1.111292
Name: 0, dtype: float64

In [8]:
# 使用iloc方法，提取第四行数据
df.iloc[4]

A   -0.430687
B    0.094771
C    0.704016
D   -0.250703
Name: 4, dtype: float64

In [9]:
type(df.iloc[3])

pandas.core.series.Series

返回4-5行，1-2列数据，用下面的写法，你可以看到跟array的切片操作是一模一样的

In [10]:
df.iloc[3:5,0:2]

          A         B
3  0.147903  0.137416
4 -0.430687  0.094771

In [11]:
# 提取某一样或者某几行的数据，保证所有列都在，可以使用一个冒号来表示所有列
df.iloc[1:3,:]

          A         B         C         D
1  0.361975 -0.519359  0.296936  1.379625
2 -0.210160 -0.527685  0.054827 -0.203484

In [12]:
#　提取某一个值，去掉所有冒号，比如取第2行第2列的这个数
df.iloc[1,1]

-0.51935948552437172

In [13]:
# iat是专门提取某个数的方法，它的效率高更高，因此建议在提取单个数的时候用iat
df.iat[1,1]

-0.51935948552437172