## Pandas 介绍
Pandas是python环境下最有名的数据统计包，而DataFrame翻译为数据框，是一种数据组织方式，这么说你可能无法从感性上认识它，举个例子，你大概用过Excel，而它也是一种数据组织和呈现的方式，简单说就是表格，而在pandas中用DataFrame组织数据，如果你不print DataFrame，你看不到这些数据，下面我们来看看DataFrame是如何使用的。  

首先是引入pandas和numpy，这是经常配合使用的两个包，pandas依赖于numpy，引入以后我们可以直接使用np/pd来表示这个两个模块

In [1]:
import numpy as np
import pandas as pd

先创建一个时间索引，所谓的索引（index)就是每一行数据的id，可以标识每一行的唯一值

In [2]:
dates = pd.date_range('20170823',periods=7)

In [3]:
dates

DatetimeIndex(['2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26',
               '2017-08-27', '2017-08-28', '2017-08-29'],
              dtype='datetime64[ns]', freq='D')

### 创建一个7X4的数据：  
* randn函数用于创建随机数，参数表示行数和列数 
* dates是上一步创建的索引列,index
* columns表示的是列名

In [4]:
df = pd.DataFrame(np.random.randn(7,4),index=dates,columns=list('ABCD'))

In [5]:
df

                   A         B         C         D
2017-08-23  0.655440 -1.329202 -0.384263 -0.740553
2017-08-24  1.464690 -0.187541 -0.305673 -0.553504
2017-08-25 -0.835804  1.863678 -1.591083  0.857887
2017-08-26  0.139411  0.519491  1.369900 -0.141051
2017-08-27  0.411378 -0.996572  0.371330  0.383483
2017-08-28 -0.166246 -0.891458 -0.099088  0.138466
2017-08-29  0.378373  0.440826 -0.650621 -0.294974

还可以使用字典来创建数据框，例如创建一个列名为A的数据框，索引是自动创建的整数

In [6]:
df = pd.DataFrame({'A':np.random.randn(7)})

In [7]:
df

          A
0  0.836119
1 -1.112332
2  0.455408
3 -1.508456
4 -0.407884
5  0.347088
6 -0.605509

### 字典创建DataFrame的例子，字典包含的数据>=2
* pd.Timestamp创建一个时间戳  
* pd.Series

In [8]:
df = pd.DataFrame({'A':pd.Timestamp('20170823'),'B':pd.Series(1)})

In [9]:
df

           A  B
0 2017-08-23  1

字典内的数据长度不同，以最长的数据为准，比如B列有4行
* 创建一个字典包含A是一个时间戳，B是一个值1，索引4

In [10]:
df = pd.DataFrame({'A':pd.Timestamp('20170823'),'B':pd.Series(1,index=range(4))})

In [11]:
df

           A  B
0 2017-08-23  1
1 2017-08-23  1
2 2017-08-23  1
3 2017-08-23  1

使用dtypes来查看各行的数据格式

In [12]:
df.dtypes

A    datetime64[ns]
B             int64
dtype: object

In [13]:
# 看一下如何查看数据框中的数据，看一下所有的数据
df

           A  B
0 2017-08-23  1
1 2017-08-23  1
2 2017-08-23  1
3 2017-08-23  1

使用head查看前几行数据（默认是前5行），不过你可以指定前几行

In [14]:
df.head()

           A  B
0 2017-08-23  1
1 2017-08-23  1
2 2017-08-23  1
3 2017-08-23  1

In [15]:
# 查看前三行数据
df.head(3)

           A  B
0 2017-08-23  1
1 2017-08-23  1
2 2017-08-23  1

In [16]:
# 使用tail查看后5行数据
df.tail()

           A  B
0 2017-08-23  1
1 2017-08-23  1
2 2017-08-23  1
3 2017-08-23  1

In [17]:
# 查看数据框的索引
df.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
# 查看列名用columns
df.columns

Index(['A', 'B'], dtype='object')

In [19]:
# 查看数据值，用values
df.values

array([[Timestamp('2017-08-23 00:00:00'), 1],
       [Timestamp('2017-08-23 00:00:00'), 1],
       [Timestamp('2017-08-23 00:00:00'), 1],
       [Timestamp('2017-08-23 00:00:00'), 1]], dtype=object)

In [20]:
# 查看描述性统计，用describe
data = df.describe()

In [21]:
data

         B
count  4.0
mean   1.0
std    0.0
min    1.0
25%    1.0
50%    1.0
75%    1.0
max    1.0

查看描述性统计，用describe  
使用type看一下输出的描述性统计是什么样的数据类型——DataFrame数据

In [22]:
Ser = pd.Series(data['B'])

In [23]:
Ser.describe()

count    8.000000
mean     1.250000
std      1.164965
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      4.000000
Name: B, dtype: float64

In [24]:
Ser['count']

4.0

In [25]:
# 使用T来转置数据，也就是行列转换
df.T

,0,1,2,3
A,2017-08-23 00:00:00,2017-08-23 00:00:00,2017-08-23 00:00:00,2017-08-23 00:00:00
B,1,1,1,1

In [32]:
# 对数据进行排序，用到了sort，参数可以指定根据哪一列数据进行排序。
data.sort_values('B')

         B
std    0.0
mean   1.0
min    1.0
25%    1.0
50%    1.0
75%    1.0
max    1.0
count  4.0

In [28]:
type(data)

pandas.core.frame.DataFrame