使用groupby()可以给数据分组，数据分组的好处是你可以一次性计算得到所有分组中的统计量，比如想计算男女学生的平均成绩分别是多少，可以先按照男女分组，然后计算平均数，我们不用计算完女生然后在计算男生，实际上是一次性完成的，这就是分组的好处。

In [1]:
# 先引入模块，并创建一个DataFrame
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':['foo','bar','foo','bar','foo','bar','foo','foo'],
                  'B':['one','two','three','two','two','two','one','three'],
                  'C':np.random.randn(8),'D':np.random.randn(8)})

In [3]:
df

     A      B         C         D
0  foo    one  0.195301  0.953419
1  bar    two  0.163166  1.011498
2  foo  three -0.157731  0.315601
3  bar    two -0.454916  1.670369
4  foo    two -0.118577 -0.320042
5  bar    two  0.323290 -1.873272
6  foo    one  0.425654 -1.662365
7  foo  three  0.664951 -1.098189

In [5]:
# 可以以A列进行分组，使用groupby
grouped = df.groupby('A')
print grouped.first()

       B         C         D
A
bar  two  0.163166  1.011498
foo  one  0.195301  0.953419

打印出来的grouped.first()为每一组的第一行数据

In [6]:
# 还可以以两列以上进行分组，groupby参数为一个列表
grouped = df.groupby(['A','B'])
print grouped.last()

                  C         D
A   B
bar two    0.323290 -1.873272
foo one    0.425654 -1.662365
    three  0.664951 -1.098189
    two   -0.118577 -0.320042

In [7]:
# 还可以根据列来分组，先创建一个get_type函数，如果列名为abem中之一，就分为组别vowel，反之为consonant
def get_type(letter):
    if letter.lower() in 'abem':
        return 'vowel'
    else:
        return 'consonant'
    
grouped = df.groupby(get_type,axis=1)

In [9]:
grouped.first()

   consonant vowel
0   0.195301   foo
1   0.163166   bar
2  -0.157731   foo
3  -0.454916   bar
4  -0.118577   foo
5   0.323290   bar
6   0.425654   foo
7   0.664951   foo