In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'))
df

          A         B         C         D
0 -2.041533  0.310421 -0.431087  1.740021
1 -0.643328 -0.241702  0.843016  1.030533
2  0.420549 -1.735146  1.012597 -0.203520
3  1.369190 -0.599031  0.363809  0.373815
4 -0.390649 -1.436792 -0.845645  0.870077
5  1.824970  1.140179 -1.060633 -0.551973

In [3]:
# 要筛选D列数据中大于0的行
df[df.D > 0]

          A         B         C         D
0 -2.041533  0.310421 -0.431087  1.740021
1 -0.643328 -0.241702  0.843016  1.030533
3  1.369190 -0.599031  0.363809  0.373815
4 -0.390649 -1.436792 -0.845645  0.870077

In [4]:
# 使用&符号可以实现多条件筛选，当然是用"|"符号也可以实现多条件，只不过是或的关系。

In [5]:
df[(df.C<0)&(df.D>0)]

          A         B         C         D
0 -2.041533  0.310421 -0.431087  1.740021
4 -0.390649 -1.436792 -0.845645  0.870077

In [6]:
# 只需要A和B列数据，而D和C列数据都是用于筛选的，可以这样写：只返回了AB两列数据
df[['A','B']][(df.C<0)&(df.D>0)]

          A         B
0 -2.041533  0.310421
4 -0.390649 -1.436792

In [7]:
# 以上用到的方法都是通过一个布尔索引完成的，我们看一下这样的运算返回的值是什么
index = (df.C<0)&(df.D>0)
index

0     True
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [8]:
df[index]

          A         B         C         D
0 -2.041533  0.310421 -0.431087  1.740021
4 -0.390649 -1.436792 -0.845645  0.870077

In [9]:
# 还可以使用insin方法来筛选特定的值，把要筛选的值写到一个列表里，如testlist
testlist = [1,2,3,4,5]

In [10]:
# 选择D列数据中，有testlist中的值的行
df['D'].isin(testlist)

0    False
1    False
2    False
3    False
4    False
5    False
Name: D, dtype: bool

In [11]:
df[df['D'].isin(testlist)]

Empty DataFrame
Columns: [A, B, C, D]
Index: []