In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'))
df

          A         B         C         D
0 -0.710394 -0.648203 -0.366080 -0.033303
1 -4.489963  1.633300  0.788834 -0.523221
2  0.298618 -0.693119  1.031423  0.934535
3 -0.544448  1.050872 -1.217511 -0.664366
4 -0.227046  0.503609 -1.568911 -0.279845
5 -0.026965  1.008722 -0.586782 -0.718826

In [3]:
# 要筛选D列数据中大于0的行
df[df.D > 0]

          A         B         C         D
2  0.298618 -0.693119  1.031423  0.934535

In [4]:
# 使用&符号可以实现多条件筛选，当然是用"|"符号也可以实现多条件，只不过是或的关系。

In [5]:
df[(df.C<0)&(df.D>0)]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [6]:
# 只需要A和B列数据，而D和C列数据都是用于筛选的，可以这样写：只返回了AB两列数据
df[['A','B']][(df.C<0)&(df.D>0)]

Empty DataFrame
Columns: [A, B]
Index: []

In [7]:
# 以上用到的方法都是通过一个布尔索引完成的，我们看一下这样的运算返回的值是什么
index = (df.C<0)&(df.D>0)
index

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [8]:
df[index]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

### isin()函数的使用

In [9]:
# 添加一列
df['E'] = ['a', 'b', 'c', 'd', 'e', 'f']

In [10]:
df

          A         B         C         D  E
0 -0.710394 -0.648203 -0.366080 -0.033303  a
1 -4.489963  1.633300  0.788834 -0.523221  b
2  0.298618 -0.693119  1.031423  0.934535  c
3 -0.544448  1.050872 -1.217511 -0.664366  d
4 -0.227046  0.503609 -1.568911 -0.279845  e
5 -0.026965  1.008722 -0.586782 -0.718826  f

In [11]:
df.E.isin(['a','g','l'])

0     True
1    False
2    False
3    False
4    False
5    False
Name: E, dtype: bool

isin()函数接受一个列表，判断该列中元素是否在列表中。