DataFrame数据框允许我们使用iloc方法来像操作array（数组）一样对DataFrame进行切片操作，其形式上，跟对数组进行切片是一样的

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(6,4),columns=list('ABCD'))

In [3]:
df

          A         B         C         D
0 -0.759603 -0.747153  0.243744  2.541083
1 -0.958913 -2.140946 -0.683573  0.211082
2 -0.605368 -0.567873  0.705052 -0.230126
3 -1.792260 -0.830068 -1.190634  2.365913
4 -0.804532  0.372450 -0.211330  0.982458
5 -0.215678 -0.992798  0.900579  0.196676

In [4]:
df.loc[0]

A   -0.759603
B   -0.747153
C    0.243744
D    2.541083
Name: 0, dtype: float64

In [6]:
# 使用iloc方法，提取第五行数据
df.iloc[4]

A   -0.804532
B    0.372450
C   -0.211330
D    0.982458
Name: 4, dtype: float64

In [7]:
type(df.iloc[3])

pandas.core.series.Series

返回4-5行，1-2列数据，用下面的写法，你可以看到跟array的切片操作是一模一样的

In [8]:
df.iloc[3:5,0:2]

          A         B
3 -1.792260 -0.830068
4 -0.804532  0.372450

In [9]:
# 提取某一样或者某几行的数据，保证所有列都在，可以使用一个冒号来表示所有列
df.iloc[1:3,:]

          A         B         C         D
1 -0.958913 -2.140946 -0.683573  0.211082
2 -0.605368 -0.567873  0.705052 -0.230126

In [10]:
#　提取某一个值，去掉所有冒号，比如取第2行第2列的这个数
df.iloc[1,1]

-2.140946047991973

In [11]:
# iat是专门提取某个数的方法，它的效率高更高，因此建议在提取单个数的时候用iat
df.iat[1,1]

-2.140946047991973