In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20170823',periods=6)
dates

DatetimeIndex(['2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26',
               '2017-08-27', '2017-08-28'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [5]:
df

                   A         B         C         D
2017-08-23  1.102317 -0.570598  1.344077  0.671721
2017-08-24  2.266535 -0.285289  0.379298  1.539153
2017-08-25 -1.430678  0.615251  1.597162 -0.285044
2017-08-26 -1.286778  1.428993 -0.174484 -0.984666
2017-08-27 -0.366677  0.198178 -1.785874 -1.030605
2017-08-28  0.271776 -0.836795  0.811158  0.257665

In [6]:
# 选择A列的数据进行操作：df['A']
df['A']

2017-08-23    1.102317
2017-08-24    2.266535
2017-08-25   -1.430678
2017-08-26   -1.286778
2017-08-27   -0.366677
2017-08-28    0.271776
Freq: D, Name: A, dtype: float64

可以使用数组的切片操作，但是注意了，切片得到的是**行数据**  
在列上不成立

In [7]:
df[1:3]

                   A         B         C         D
2017-08-24  2.266535 -0.285289  0.379298  1.539153
2017-08-25 -1.430678  0.615251  1.597162 -0.285044

还可以使用行标签来指定输出的行

In [8]:
df['20170823':'20170826']

                   A         B         C         D
2017-08-23  1.102317 -0.570598  1.344077  0.671721
2017-08-24  2.266535 -0.285289  0.379298  1.539153
2017-08-25 -1.430678  0.615251  1.597162 -0.285044
2017-08-26 -1.286778  1.428993 -0.174484 -0.984666

DataFrame的**loc**方法是帮助选择数据的，比如选择索引位置为0的一行数据（注意我们是用dates作为索引的）

In [9]:
df.loc[dates[0]]

A    1.102317
B   -0.570598
C    1.344077
D    0.671721
Name: 2017-08-23 00:00:00, dtype: float64

In [10]:
df.loc['20170824']

A    2.266535
B   -0.285289
C    0.379298
D    1.539153
Name: 2017-08-24 00:00:00, dtype: float64

In [11]:
# 选择多列数据
df.loc[:,['A','B']]

                   A         B
2017-08-23  1.102317 -0.570598
2017-08-24  2.266535 -0.285289
2017-08-25 -1.430678  0.615251
2017-08-26 -1.286778  1.428993
2017-08-27 -0.366677  0.198178
2017-08-28  0.271776 -0.836795

In [12]:
# 直接使用列名，放在一个列表
df[['A','C']]

                   A         C
2017-08-23  1.102317  1.344077
2017-08-24  2.266535  0.379298
2017-08-25 -1.430678  1.597162
2017-08-26 -1.286778 -0.174484
2017-08-27 -0.366677 -1.785874
2017-08-28  0.271776  0.811158

In [13]:
# 选择的是一个局部数据，是行和列的交叉区域
df.loc['20170823':'20170826',['A','D']]

                   A         D
2017-08-23  1.102317  0.671721
2017-08-24  2.266535  1.539153
2017-08-25 -1.430678 -0.285044
2017-08-26 -1.286778 -0.984666

In [15]:
# 只选择某一个数据，可以指定行和列：
df.loc[dates[1],'D']

1.5391525321593349

In [16]:
# 当然，at方法是专门用于获取某个值的：
df.at[dates[0],'A']

1.1023170883886375